@charset "UTF-8";
.margin-top-40 {
  margin-top: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.col-contact-first-row {
  width: 45%; }

.col-contact-second-row {
  width: 55%; }

.margin-top-10 {
  margin-top: 10px; }

.relative {
  position: relative; }

.hide-title {
  margin: 0;
  height: 0;
  overflow: hidden; }

.bg-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .bg-block .col-xs-12 {
    position: absolute;
    height: 100%;
    padding: 0; }
    .bg-block .col-xs-12 .header-bg-two,
    .bg-block .col-xs-12 .header-bg-one {
      height: 100%;
      background-repeat: no-repeat !important;
      -webkit-background-size: cover !important;
              background-size: cover !important;
      background-position: center center !important; }
    .bg-block .col-xs-12 .header-bg-one {
      background-color: #2e2d2b; }
    .bg-block .col-xs-12 .header-bg-two {
      background-color: #587c4a; }
  .bg-block .col-sm-5 {
    left: 0; }
  .bg-block .col-sm-7 {
    right: 0; }

.background {
  height: 100%;
  position: absolute;
  width: 100%; }

.sub-title {
  margin-top: 0;
  font-family: "Museo Sans Cyrl 900";
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  position: relative; }
  .sub-title.left:after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 14px; }

.home .about .bg-block .col-sm-5 {
  background-color: #557a46; }

.home .about .sub-title:after {
  right: -195px; }

.home .about .col-sm-5 .content {
  padding: 40px 0 40px 30px; }
  .home .about .col-sm-5 .content .about {
    color: #fff;
    width: 80%;
    margin-top: 50px; }
  .home .about .col-sm-5 .content .link-about {
    margin-top: 50px;
    display: inline-block; }

.home .about .col-sm-7 .content {
  padding-top: 20px; }
  .home .about .col-sm-7 .content .images img {
    -webkit-box-shadow: 5px 8px 13px 0 #e0e0e0;
            box-shadow: 5px 8px 13px 0 #e0e0e0;
    margin-left: 3%;
    float: left;
    width: 47%; }
  .home .about .col-sm-7 .content .description {
    margin-top: 20px;
    margin-left: 3%; }

header .content-block {
  padding: 25px 0; }
  header .content-block .top-block {
    margin: 0;
    padding: 0; }
    header .content-block .top-block li {
      list-style: none;
      line-height: 33px;
      display: block; }
      header .content-block .top-block li a {
        text-decoration: none;
        font-family: "Museo Sans Cyrl 100";
        font-size: 13px;
        color: #fff; }
        header .content-block .top-block li a:hover {
          color: #557a46; }
      header .content-block .top-block li p {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 20px; }
  header .content-block .top-bar .list-switch-lang {
    margin: 0;
    padding: 0;
    display: inline-block; }
    header .content-block .top-bar .list-switch-lang li {
      display: table-cell; }
      header .content-block .top-bar .list-switch-lang li a {
        text-decoration: none;
        color: #777575;
        font-size: 13px;
        font-family: "Museo Sans Cyrl 500";
        width: 50px;
        text-align: center;
        display: inline-block;
        padding: 5px 12px;
        background-color: #3e3c3b; }
        header .content-block .top-bar .list-switch-lang li a:hover, header .content-block .top-bar .list-switch-lang li a.active {
          color: #fff;
          background-color: #557a46; }
  header .content-block .top-bar .bvi-controller {
    float: right;
    margin: 0;
    padding: 9px 0; }
    header .content-block .top-bar .bvi-controller li {
      display: inline-block; }
      header .content-block .top-bar .bvi-controller li i {
        color: #706e6e;
        font-size: 20px; }
        header .content-block .top-bar .bvi-controller li i:hover {
          color: #557a46; }
  header .content-block .main-content {
    margin-top: 150px; }
    header .content-block .main-content .soс-links {
      padding: 0;
      margin: 0; }
      header .content-block .main-content .soс-links li {
        display: inline-block; }
        header .content-block .main-content .soс-links li a {
          display: inline-block;
          background-color: #3e3c3b;
          text-decoration: none;
          text-align: center;
          margin-left: 12px;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          header .content-block .main-content .soс-links li a:hover {
            background-color: #557a46; }
          header .content-block .main-content .soс-links li a i {
            color: #000;
            font-size: 18px;
            padding: 3px;
            vertical-align: middle; }
        header .content-block .main-content .soс-links li .gos-catalog-link {
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-family: "Museo Sans Cyrl 700";
          padding: 0 8px; }
      header .content-block .main-content .soс-links li:first-child a {
        margin-left: 0; }
    header .content-block .main-content .description {
      font-family: "Museo Sans Cyrl 100";
      font-size: 17px;
      color: #fff;
      background-color: #2e2c2b;
      border-left: 6px solid #557a46;
      display: inline-block;
      margin-top: 24px;
      padding: 12px 20px; }
      header .content-block .main-content .description span {
        display: block;
        font-family: "Museo Sans Cyrl 900"; }
  header .content-block nav ul {
    margin: 25px 0 0 0;
    padding: 0; }
    header .content-block nav ul li {
      list-style: none; }
      header .content-block nav ul li a {
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 25px;
        display: inline-block; }
      header .content-block nav ul li.current-menu-item {
        padding-left: 75px;
        position: relative; }
        header .content-block nav ul li.current-menu-item:before {
          content: " ";
          display: block;
          height: 1px;
          width: 60px;
          background: #fff;
          position: absolute;
          top: 13px;
          left: 0; }

footer {
  background-color: #383634;
  padding: 30px 0; }
  footer .footer-main-container {
    margin: 0;
    padding: 0; }
    footer .footer-main-container li {
      display: inline-block;
      padding-left: 30px; }
      footer .footer-main-container li a {
        font-size: 13px;
        color: #fff;
        text-transform: uppercase; }
    footer .footer-main-container li:first-child {
      padding-left: 0; }
  footer .bootom-copyright {
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block; }
    footer .bootom-copyright span {
      font-family: "Museo Sans Cyrl 900";
      color: #b98d5e; }
    footer .bootom-copyright:hover {
      text-decoration: underline; }
