footer
  background-color: #383634
  padding: 30px 0
  .footer-main-container
    margin: 0
    padding: 0
    li
      display: inline-block
      padding-left: 30px
      a
        font-size: 13px
        color: #fff
        text-transform: uppercase

    li:first-child
      padding-left: 0
  .bootom-copyright
    margin-top: 15px
    color: #fff
    text-decoration: none
    display: inline-block
    span
      font-family: $font_bold
      color: #b98d5e
    &:hover
      text-decoration: underline
