//
// Home
//
//
// About
//
.home
  .about
    .bg-block
      .col-sm-5
        background-color: $main_color
    .sub-title:after
      right: -195px
    .col-sm-5

      .content
        padding: 40px 0 40px 30px
        .about
          color: #fff
          width: 80%
          margin-top: 50px


        .link-about
          margin-top: 50px
          display: inline-block
    .col-sm-7
      .content
        padding-top: 20px
        .images
          img
            box-shadow: 5px 8px 13px 0 #e0e0e0
            margin-left: 3%
            float: left
            width: 47%
        .description
          margin-top: 20px
          margin-left: 3%