$font_regular : 'PT Sans'
$font_bold : 'PT Sans Bold'
$padding_top_section : 60px
$main_color : #009be1
$text_color : #221e1f
$footer_color : #221e1f
$doc_color: #707070


.margin-top-40
  margin-top: 40px

.margin-bottom-40
  margin-bottom: 40px
.col-contact-first-row
  width: 45%
.col-contact-second-row
  width: 55%
.margin-top-10
  margin-top: 10px

.text-align-right
  text-align: right

.text-align-center
  text-align: center


//
// Pagination
//
nav.navigation.pagination
  display: table
  margin: 0 auto
  a
    font-family: $font_bold
    color: #fff
    text-decoration: none
    background: $main_color
    border-radius: 10px
    padding: 11px 14px
  a:hover
    background: $text_color
    color: #fff
    text-decoration: none
  span
    font-family: $font_bold
    color: #fff
    text-decoration: none
    background: $text_color
    border-radius: 10px
    padding: 11px 14px

.modal-succcess-send
  padding: 30px
  position: fixed
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  z-index: 99999999999
  background: #fff
  background-size: cover!important
  border-radius: 20px
  opacity: 0
  visibility: hidden
  -webkit-transition: .3s
  transition: .3s
  h3
    margin-top: 0
    margin-bottom: 0

.custom-modal2,
.custom-modal
  width: 560px
  position: fixed
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  z-index: 99999999999
  background: url(../images/modal-bg.png)
  background-size: cover!important
  border-radius: 20px
  opacity: 0
  visibility: hidden
  -webkit-transition: .3s
  transition: .3s
  .content-modal
    position: relative
    h3
      text-align: center
      margin-top: 90px
      font-family: $font_bold
      font-size: 30px
      line-height: 1.5
      color: #fff
      margin-bottom: 40px
    form
      width: 70%
      margin: 0 auto
      input[type=checkbox]
        margin-left: 0
        margin-top: 0
        position: relative
        top: -5px
        left: 15px
      input[type=text]
        background: url(../images/modal-input.png)
        width: 100%
        border: none
        font-size: 16px
        line-height: 1.5
        font-family: $font_bold
        color: #fff
        text-transform: uppercase
        text-align: center
        border-radius: 20px
        margin-bottom: 20px
        padding: 7px 0px
      .text-policy
        display: inline-block
        position: relative
        top: -7px
        left: 34px
        color: #fff
        font-family: $font_bold
        a
          text-decoration: underline
          color: #fff
          font-family: $font_regular

      input[type=submit]
        margin: 23px  auto  40px auto
        display: table
        background-color: #fff
        border: none
        border-radius: 15px
        font-size: 18px
        font-family: $font_bold
        line-height: 1.5
        color: #019be1
        padding: 12px 76px
        -webkit-transition: .3s
        transition: .3s
      input[type=submit]:hover
        background-color: #019be1
        color: #fff




      .wpcf7-form-control-wrap::after
        content: ""
        display: block
        width: 3px
        top: 28px
        left: 19px
        height: 20px
        position: absolute
        background-color: #fff





    ::-webkit-input-placeholder
      font-size: 16px
      line-height: 1.5
      font-family: $font_bold
      color: #fff
    ::-moz-placeholder
      font-size: 16px
      line-height: 1.5
      font-family: $font_bold
      color: #fff

    :-ms-input-placeholder
      font-size: 16px
      line-height: 1.5
      font-family: $font_bold
      color: #fff

    :-moz-placeholder
      font-size: 16px
      line-height: 1.5
      font-family: $font_bold
      color: #fff


div.wpcf7-mail-sent-ok
  display: none!important

.show-modal
  visibility: visible!important
  opacity: 1!important

.img-close-modal
  position: absolute
  right: 18px
  top: 15px
  cursor: pointer
  &:hover
    opacity: .5

.modal-overlay
  width: 100%
  height: 100%
  top: 0
  left: 0
  position: fixed
  background: rgba(0,0,0,.5)
  z-index: 99
  opacity: 0
  visibility: hidden
span.wpcf7-not-valid-tip
  text-align: center


.start-content
  padding: 50px 0

.spec-title-h2
  font-family: $font_regular
  font-size: 30px
  line-height: 1.5
  text-align: center
.page-template-page-build
  .current-menu-item a
    background: transparent!important
    color: #878787!important

.error-page-text
  font-family: $font_regular
  text-align: center


@media  (min-width: 1000px)
  .container
    width: 1100px

@media  (min-width: 993px)
  .col-lg-custom
    width: 65%
    margin: 0 auto
    float: none


@import "main.sass"
@import "header.sass"
@import "footer.sass"
