$font_regular : 'Museo Sans Cyrl 300'
$font_bold : 'Museo Sans Cyrl 900'
$font_semibold : 'Museo Sans Cyrl 700'
$font_500 : 'Museo Sans Cyrl 500'
$font_100 : 'Museo Sans Cyrl 100'

$main_color : #557a46
$text_color : #221e1f
$footer_color : #221e1f
$doc_color: #707070


.margin-top-40
  margin-top: 40px

.margin-bottom-40
  margin-bottom: 40px
.col-contact-first-row
  width: 45%
.col-contact-second-row
  width: 55%
.margin-top-10
  margin-top: 10px
.relative
  position: relative

//@media  (min-width: 1000px)


@import "main.sass"
@import "header.sass"
@import "footer.sass"
